#body {
    background-color: palevioletred; 
    position: relative;
    top: 250px;
    left: 118px;
}

#header {
    color: wheat;
    background-color: palevioletred;
    font-size: 18px;
    font-family:'Courier New', Courier, monospace;
    position: fixed;
    top: 40px;
    right: 570px;
}

.anasayfa {
    background-color: palevioletred;
    font-size: 25px;
    font-family:'Courier New', Courier, monospace;
    position: fixed;
    top: 100px;
    right: 800px;
}

.iletisim {  
    background-color: palevioletred;
    font-size: 25px;
    font-family:'Courier New', Courier, monospace;
    position: fixed;
    top: 100px;
    right: 490px;
}

.h6 {
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: wheat;
}

/*
#pantolon1 {
    position: fixed;
    top: 220px;
    right: 1000px;
    width: 300px;
    height: 500px;
}

#pantolon2 {
    position: fixed;
    top: 220px;
    right: 600px;
    width: 300px;
    height: 500px;
}

#gomlek1 {
    position: fixed;
    top: 500px;
    right: 740px;
    height: 200px;
}

#gomlek2 {
    position: fixed;
    top: 250px;
    right: 550px;
    height: 200px;
}

#ayakkabi1 {
    position: fixed;
    top: 250px;
    right: 375px;
    height: 200px;
}

#ayakkabi2 {
    position: fixed;
    top: 250px;
    right: 200px;
    height: 200px;
} 
